http___siebel.com_CustomUI_VCSetTransactionQueue.WSDL

<definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/VCLead"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/VCLead"
 targetNamespace="http://www.siebel.com/xml/VCLead"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="VCLead"
 type="xsdLocal1:VCLead"
></xsd:element
><xsd:complexType
 name="VCLeadTopElmt"
><xsd:sequence
><xsd:element
 name="VCLead"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:VCLead"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="VCLead"
><xsd:sequence
><xsd:element
 name="Leads"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Leads"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Leads"
><xsd:sequence
><xsd:element
 name="Lead"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Lead"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Lead"
><xsd:sequence
><xsd:element
 name="LeadChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LeadSpecific"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DueDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Comments"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceList"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReferingClient"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MotherKnowYou"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Competition"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RepName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SubmitDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LeadName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Comments1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InterestLevel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InfokitOption"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BestTimeToCall"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Contact"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal1:Contact"
></xsd:element
><xsd:element
 name="Referrer"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Referrer"
></xsd:element
><xsd:element
 name="Product"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Product"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="Salutation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CellPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Fax"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactAddress"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal1:ContactAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Referrer"
><xsd:sequence
><xsd:element
 name="Salutation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CellPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Fax"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReferrerAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:ReferrerAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Product"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProcessingPlan"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StoragePlan"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ContactAddress"
><xsd:sequence
><xsd:element
 name="AddressLine1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AddressLine2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="State"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Zip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ReferrerAddress"
><xsd:sequence
><xsd:element
 name="AddressLine1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AddressLine2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="State"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Zip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/VCLead"
></xsd:import
><xsd:element
 name="VCSetTransactionQueueQueryEntity_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SearchSpec"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionSentDateTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueQueryEntity_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TranResult"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueUpsertLead_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:VCLead"
 minOccurs="0"
></xsd:element
><xsd:element
 name="EntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionSentDateTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueUpsertLead_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:VCLead"
 minOccurs="0"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueImportTransactions_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EntId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntName"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionSentDateTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MethodToInvoke"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueImportTransactions_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueQueryById_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SearchSpec"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionSentDateTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueQueryById_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TranResult"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueGetLIMSUpdates_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="KITNum"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VCPostTNC"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReceivedTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransFlg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VCVolume"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CTVolume"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KITExpirationDate"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReceivedDate"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransStat"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductName"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueGetLIMSUpdates_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="EntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransFlg"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtEntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EntName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransStat"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InOut"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionSentDateTime"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Email"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ReturnStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="VCSetTransactionQueueQueryEntity_1_Input"
><part
 name="VCSetTransactionQueueQueryEntity_1_Input"
 element="tns:VCSetTransactionQueueQueryEntity_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueQueryEntity_1_Output"
><part
 name="VCSetTransactionQueueQueryEntity_1_Output"
 element="tns:VCSetTransactionQueueQueryEntity_1_Output"
></part
></message
><message
 name="VCSetTransactionQueueUpsertLead_1_Input"
><part
 name="VCSetTransactionQueueUpsertLead_1_Input"
 element="tns:VCSetTransactionQueueUpsertLead_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueUpsertLead_1_Output"
><part
 name="VCSetTransactionQueueUpsertLead_1_Output"
 element="tns:VCSetTransactionQueueUpsertLead_1_Output"
></part
></message
><message
 name="VCSetTransactionQueueImportTransactions_1_Input"
><part
 name="VCSetTransactionQueueImportTransactions_1_Input"
 element="tns:VCSetTransactionQueueImportTransactions_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueImportTransactions_1_Output"
><part
 name="VCSetTransactionQueueImportTransactions_1_Output"
 element="tns:VCSetTransactionQueueImportTransactions_1_Output"
></part
></message
><message
 name="VCSetTransactionQueueQueryById_1_Input"
><part
 name="VCSetTransactionQueueQueryById_1_Input"
 element="tns:VCSetTransactionQueueQueryById_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueQueryById_1_Output"
><part
 name="VCSetTransactionQueueQueryById_1_Output"
 element="tns:VCSetTransactionQueueQueryById_1_Output"
></part
></message
><message
 name="VCSetTransactionQueueGetLIMSUpdates_1_Input"
><part
 name="VCSetTransactionQueueGetLIMSUpdates_1_Input"
 element="tns:VCSetTransactionQueueGetLIMSUpdates_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueGetLIMSUpdates_1_Output"
><part
 name="VCSetTransactionQueueGetLIMSUpdates_1_Output"
 element="tns:VCSetTransactionQueueGetLIMSUpdates_1_Output"
></part
></message
><message
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Input"
><part
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Input"
 element="tns:VCSetTransactionQueueUpsertTransactionQueue_1_Input"
></part
></message
><message
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Output"
><part
 name="VCSetTransactionQueueUpsertTransactionQueue_1_Output"
 element="tns:VCSetTransactionQueueUpsertTransactionQueue_1_Output"
></part
></message
><portType
 name="VCSetTransactionQueue"
><operation
 name="VCSetTransactionQueueQueryEntity_1"
><input
 message="tns:VCSetTransactionQueueQueryEntity_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueQueryEntity_1_Output"
></output
></operation
><operation
 name="VCSetTransactionQueueUpsertLead_1"
><input
 message="tns:VCSetTransactionQueueUpsertLead_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueUpsertLead_1_Output"
></output
></operation
><operation
 name="VCSetTransactionQueueImportTransactions_1"
><input
 message="tns:VCSetTransactionQueueImportTransactions_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueImportTransactions_1_Output"
></output
></operation
><operation
 name="VCSetTransactionQueueQueryById_1"
><input
 message="tns:VCSetTransactionQueueQueryById_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueQueryById_1_Output"
></output
></operation
><operation
 name="VCSetTransactionQueueGetLIMSUpdates_1"
><input
 message="tns:VCSetTransactionQueueGetLIMSUpdates_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueGetLIMSUpdates_1_Output"
></output
></operation
><operation
 name="VCSetTransactionQueueUpsertTransactionQueue_1"
><input
 message="tns:VCSetTransactionQueueUpsertTransactionQueue_1_Input"
></input
><output
 message="tns:VCSetTransactionQueueUpsertTransactionQueue_1_Output"
></output
></operation
></portType
><binding
 name="VCSetTransactionQueue"
 type="tns:VCSetTransactionQueue"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="VCSetTransactionQueueQueryEntity_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueQueryEntity_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="VCSetTransactionQueueUpsertLead_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueUpsertLead_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="VCSetTransactionQueueImportTransactions_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueImportTransactions_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="VCSetTransactionQueueQueryById_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueQueryById_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="VCSetTransactionQueueGetLIMSUpdates_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueGetLIMSUpdates_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="VCSetTransactionQueueUpsertTransactionQueue_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:VCSetTransactionQueueUpsertTransactionQueue_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="VCSetTransactionQueue"
><port
 binding="tns:VCSetTransactionQueue"
 name="VCSetTransactionQueue"
><soap:address
 location="http://siebelapptrmk/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=SADMIN&amp;Password=SADMIN"
></soap:address
></port
></service
></definitions
>
