ViasysXMLReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="PKIPediatrix_flows" targetNamespace="http://www.webmethods.com/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:tns="http://www.webmethods.com/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/PKIPediatrix/flows/ViasysXMLReceive" xmlns:tns="http://localhost/PKIPediatrix/flows/ViasysXMLReceive">
          <xsd:complexType name="__ViasysXMLReceiveInput">
            <xsd:sequence>
              <xsd:element name="SiebelXML" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__ViasysXMLReceiveOutput">
            <xsd:sequence>
              <xsd:element name="Response" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="ViasysXMLReceiveInput">
		<wsdl:part name="SiebelXML" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="ViasysXMLReceiveOutput">
		<wsdl:part name="Response" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="PKIPediatrix_flowsPortType">
		<wsdl:operation name="ViasysXMLReceive">
			<wsdl:input message="tns:ViasysXMLReceiveInput"/>
			<wsdl:output message="tns:ViasysXMLReceiveOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PKIPediatrix_flowsBinding" type="tns:PKIPediatrix_flowsPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ViasysXMLReceive">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/PKIPediatrix.flows" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/PKIPediatrix.flows" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PKIPediatrix_flowsService">
		<wsdl:port name="PKIPediatrix_flowsPort0" binding="tns:PKIPediatrix_flowsBinding">
			<soap:address location="http://165.88.161.141:5556/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
